H2 {
font-family: Palatino;
font-weight: 900;
font-size: 25px;
color: #0033FF;
position: absolute;
top: 0px;
left: 150px;
visibility: visible;
}
h2 {
font-family: Palatino;
font-weight: 900;
font-size: 25px;
color: #0033FF;
position: absolute;
top: 0px;
left: 150px;
visibility: visible;
}    
p.titre {
font-family: Palatino;
font-size: 20px;
color: red;
position: absolute;
top: 60px;
left: 640px;
visibility: visible;
}
p.message {
font-family: Palatino;
font-size: 15px;
font-weight: bold;
color: #CC0033;
position: absolute;
left: 40px;
visibility: visible;
}
p.info {
font-family: Palatino; 
font-size: 20px;
color: #FFFFFF;
position: absolute;
left: 40px;
visibility: visible;
} 
p.detail {
font-family: Palatino;
font-size: 15px;
font-weight: bold;
color: #660066;
position: absolute;
left: 40px;
visibility: visible;
}
p.erreur {
font-family: Palatino;
font-size: 25px;
font-weight: bold;
color: crimson;
position: absolute;
left: 40px;
visibility: visible;
}	
